/**
 * The following styles get applied inside the editor only.
 */

.wp-block-pardot-form {
	border: 1px dotted #f00;
}

.sidebar {
	padding: 0 10px 10px 10px ;

	h2 {
		margin-bottom: 5px;
	}

	input {
		width: 200px;
	}
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
}
